.form-signin {
  max-width: 330px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
	border: 0;
	border-radius: 0;
}

.input-group-btn select {
	border-color: #ccc;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
}


#scan-test-row-header {
	font-weight: bold;
	background-color: #1559D1;
	color: white;
	height: 50px;
	line-height: 30px;
	padding: 10px;
    border-bottom: 1px solid;
    border-color: #D1D1D1;
}

.scan-test-row {
	height: 50px;
	line-height: 30px;
	background-color: #EFEFEF;
	padding: 10px;
    border-bottom: 1px solid;
    border-color: #D1D1D1;
}

.scan-test-row.disabled {
	color: #777;
    background-color: #eee;
}

.scan-test-row.disabled:hover {
    cursor: not-allowed;
}

.scan-test-row:hover {
	background-color: #F7F7E2;
	cursor: pointer;
}

.scan-test-row .fa-pull-right {
	line-height: 30px;
}

.test-in-progress {
	display: none;
}

body {
	overflow-y: scroll;
}